h1,
h3 {
    font-style: italic;
    margin: 0;
    margin-bottom: 5px;
}

.main {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.caesar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &__description,
    &__text,
    &__operation,
    &__shift,
    &__btn,
    &__result {
        margin-bottom: 10px;
    }

    &__description {
        display: flex;
        justify-content: center;
        p {
            text-align: center;
            width: 55%;
        }
    }

    &__text {
        &-input {
            height: 100px;
            width: 370px;
            resize: none;
            outline: none;
            border-radius: 3px;
        }
    }
}

#caesar__text-input {
    height: 100px;
    width: 520px;
    resize: none;
    outline: none;
    border-radius: 3px;
}

#caesar__result-output {
    height: 100px;
    width: 520px;
    resize: none;
    outline: none;
    border-radius: 3px;
}

// #caesar__operation-choice {
//     width: 120px;
// }

// #caesar__shift-choice {
//     width: 120px;
// }